20th August Python Basics

---------------------------------------------------------------

String based practice problem

1. Reversing a string

In [1]:
a = "pwskills"
a[len(a)-1::-1]

'sllikswp'

2. Pallindrome

In [27]:
a = "madam"
al = a.lower()
if al == al[len(al)-1::-1] :
    print(a,"is pallindrome")

else :
    print(a,"is not a pallindrome ")

madam is pallindrome

3. Converting a string to uppercase

In [16]:
a = "machine"
a.upper()

'MACHINE'

4. Converting a string to lowercase

In [23]:
a = "MACHINE"
a.lower()

'machine'

5. Count the vowels

In [16]:
a,ct = str(input("enter string - ")),0
for i in a.lower():
    if i in ['a','e','i','o','u'] : ct = ct + 1
print("Vowels in the string - ",ct)

enter string -  Alphabets

Vowels in the string -  3

6. Count the consonants

In [13]:
a,ct = str(input("enter string - ")),0
for i in a.lower():
    if i not in ['a','e','i','o','u'] : ct = ct + 1
print("consonants in the string - ",ct)

enter string -  Alphabets

consonants in the string -  6

7. Remove whitespaces from a string

In [28]:
a = str(input("Enter string - "))
print(a.replace(" ",""))

#can also write in one line- 
#   a = str(input("Enter string - ")) ; print(a.replace(" ",""))

Enter string -  this is a course by pwskills

thisisacoursebypwskills

8. Find length of string

In [32]:
a,ct = str(input("Enter string - ")),0
for i in a : ct+=1
print("length of string - ",ct)

Enter string -  pwskills

length of string -  8

9. Check if a string contains a specific word

In [34]:
a,wd = str(input("Enter string - ")) , str(input("specified word to find - ")) 
if wd in a : print(wd,"word is there in the sentence")
else : print(wd,"word is not there in the sentence")

Enter string -  this is the course by pwskills
specified word to find -  course

course word is there in the sentence

10. Replace a word in a string with another word

In [43]:
a = str(input("Enter string - ")) ; print(a.split())
wd = str(input("choose a word from the list to replace"))
r_wd = str(input("Enter word to replace - "))
print(a.replace(wd,r_wd))

Enter string -  my name is trishant and i rate this course with 5 star

['my', 'name', 'is', 'trishant', 'and', 'i', 'rate', 'this', 'course', 'with', '5', 'star']

choose a word from the list to replace trishant
Enter word to replace -  rao sahab

my name is rao sahab and i rate this course with 5 star

11. Count the occurrences of a word in a string.

In [15]:
a,wd = str(input("Enter string - ")).lower() , str(input("Enter word to count - "))
print(wd,"word occured",a.count(wd),"times in the given sentence")

Enter string -  this is the lab by pw and pw offers different variety of courses
Enter word to count -  pw

pw word occured 2 times in the given sentence

12. Find the first occurrence of a word in a string

In [5]:
a,wd = str(input("Enter string - ")).lower() , str(input("Enter word to find - "))
index = a.find(wd)
if index > -1:
    print(wd,"word is first occured at",index," in the given sentence")
else : 
    print(wd,"doesn't exist in the given sentence")

Enter string -  this is the lab by pw and pw offers different variety of courses
Enter word to find -  pw

pw word is first occured at 19  in the given sentence

13. Find the last occurrence of a word in a string

In [6]:
a,wd = str(input("Enter string - ")).lower() , str(input("Enter word to find - "))

index = a.rfind(wd)  #index of the last occurrence of the word in the sentence
if index > -1:
    print(wd,"word is first occured at",index," in the given sentence")
else : 
    print(wd,"doesn't exist in the given sentence")

Enter string -  this is the lab by pw and pw offers different variety of courses
Enter word to find -  pw

pw word is first occured at 26  in the given sentence

14. Split a string into a list of words

In [7]:
a = str(input("Enter string - "))
print("list of words - ",a.split())

Enter string -  I am a student and I want to enroll myself in a course

list of words -  ['I', 'am', 'a', 'student', 'and', 'I', 'want', 'to', 'enroll', 'myself', 'in', 'a', 'course']

15. Join a list of words into a string

In [7]:
wds = []
cnt = int(input("no. of words you want to join/add to a string - "))
for i in range(cnt) :
    word=str(input("Enter word - "))
    wds.append(word)
print(" ".join(wds))

no. of words you want to join/add to a string -  5
Enter word -  this
Enter word -  is
Enter word -  a
Enter word -  good
Enter word -  course

this is a good course

16. Convert a string from space separated to underscore seprated

In [13]:
print(str(input("Enter string - ")).replace(" ","_"))

Enter string -  diwali is a festival of lights

diwali_is_a_festival_of_lights

17. Check if a string starts with a specific word or phrase

In [1]:
a , ph = str(input("Enter string - ")) , str(input("Enter word/phrase - "))
if a.startswith(ph) == True :
    print("Yes, the given string starts with prefix")
else :
    print("No, the given string doesn't starts with prefix")

Enter string -  diwali is a festival of lights
Enter word/phrase -  diwali is

Yes, the given string starts with prefix

18. Check if a string ends with a specific word or phrase

In [2]:
a , ph = str(input("Enter string - ")) , str(input("Enter word/phrase - "))
if a.endswith(ph) == True :
    print("Yes, the given string ends with prefix")
else :
    print("No, the given string doesn't ends with prefix")

Enter string -  diwali is a festival of lights
Enter word/phrase -  of lights

Yes, the given string ends with prefix

19. Convert a string to title case

In [2]:
print(str(input("Enter string - ")).title())

Enter string -  python is the best language

Python Is The Best Language

20. Find the longest word in a string

In [6]:
a , cnt = str(input("Enter string - ")) , ""
for i in a.split() :
    if len(i) > len(cnt) :
        cnt = i
print("Longest word in the string - ",cnt)

Enter string -  Longest word in the string is the first word

Longest word in the string -  Longest

21. Find the shortest word in a string

In [12]:
a , cnt = str(input("Enter string - ")) , a
for i in a.split() :
    if len(i) < len(cnt) :
        cnt = i
print("Shortest word in the string - ",cnt)

Enter string -  Shortest word in the string is the sixth word

Shortest word in the string -  in

22. Reverse the order of words in a string

In [13]:
a = str(input("Enter string - "))
print("Reverse order - ",a[len(a)::-1])

Enter string -  Consistency is the key to success

Reverse order -  sseccus ot yek eht si ycnetsisnoC

23. Check if a string is alphanumeric

In [32]:
a = str(input("Enter string - "))
if a.isalnum() == True :
    print("Entered string is alpha numeric")
else :
    print("Entered string is not alpha numeric")

Enter string -  pw123

Entered string is alpha numeric

24. Extract all digits from a string

In [61]:
a,l = str(input("Enter string - ")) , []
for i in a :
    if i.isdigit()==True :
        l.append(int(i))
print("Digits in the string - ",sorted(list(set(l))))

Enter string -  question 24 testing output 1 time 978653

Digits in the string -  [1, 2, 3, 4, 5, 6, 7, 8, 9]

25. Extract all alphabets from a string

In [59]:
a,l = str(input("Enter string - ")) , []
for i in a :
    if i.isalpha()==True :
        l.append(i)
print("Aplhabets in the string - ",sorted(list(set(l))))

Enter string -  question 24 testing output 1 time 978653

Aplhabets in the string -  ['e', 'g', 'i', 'm', 'n', 'o', 'p', 'q', 's', 't', 'u']

26. Count the number of uppercase letters in a string

In [2]:
a,cnt = str(input("Enter string - ")) , 0
for i in a :
    if i.isupper()==True :
        cnt+=1
print("Total number of uppercase letters in the string - ",cnt)

Enter string -  SpIdeRman is A chAracTer froM MArVEl

Total number of uppercase letters in the string -  11

27. Count the number of lowercase letters in a string

In [3]:
a,cnt = str(input("Enter string - ")) , 0
for i in a :
    if i.islower()==True :
        cnt+=1
print("Total number of lowercase letters in the string - ",cnt)

Enter string -  SpIdeRman is A chAracTer froM MArVEl

Total number of lowercase letters in the string -  20

28. Swap the case of each character in a string

In [8]:
a = str(input("Enter string - "))
print("String after swapping the case of each character - \n",a.swapcase())

Enter string -  SpIdeRman is A chAracTer froM MArVEl

String after swapping the case of each character -
 sPiDErMAN IS a CHaRACtER FROm maRveL

29. Remove a specific word from a string

In [17]:
a,wd = str(input("Enter string -")).lower() , str(input("Enter word to remove -"))
l=a.split()
l.remove(wd)
print("String after removing the word -"," ".join(l))

Enter string - not nice to meet you
Enter word to remove - not

String after removing the word - nice to meet you

30. Check if a string is a valid email address

In [20]:
a = str(input("Enter e-mail address -"))
if a.endswith("@gmail.com") == True :
    print("Yes, it's a valid e-mail address")
else :
    print("NO, it's not a valid e-mail address")

Enter e-mail address - yobro1234@.com

NO, it's not a valid e-mail address

31. Extract the username from an email address string

In [4]:
a = str(input("Enter e-mail address -"))
print("Username from e-mail -",a.split("@")[0])

Enter e-mail address - yobro1234@gmail.com

Username from e-mail - yobro1234

32. Extract the domain name from an email address string

In [5]:
a = str(input("Enter e-mail address -"))
print("Domain name from e-mail -",a.split("@")[1])

Enter e-mail address - yobro1234@gmail.com

Domain name from e-mail - gmail.com

33. Replace multiple spaces in a string with a single space

In [8]:
a = str(input("Enter string -"))
l = a.split()
print("String after removing spaces -"," ".join(l))

Enter string - Hello     world!   How   are   you?

String after removing spaces - Hello world! How are you?

34. Check if a string is a valid URL

In [19]:
from urllib.parse import urlparse
url = str(input("Enter URL -")).lower()
p = urlparse(url)
if (p.scheme == "http" or "https") and p.netloc != '':
    print("Yes, it's a valid URL")
else :
    print("No, it's not a valid URL")

Enter URL - https://www.google.com

Yes, it's a valid URL

35. Extract the protocol (http or https) from a URL string

In [20]:
from urllib.parse import urlparse
url = str(input("Enter URL -")).lower()
p = urlparse(url)
if (p.scheme == "http" or "https") and p.netloc != '':
    print("Protocol from URL -",p.scheme)
else :
    print("Protocol is not available")

Enter URL - https://www.google.com

Protocol from URL - https

36. Find the frequency of each character in a string

In [12]:
a,d = str(input("Enter string -")).lower() , {}
for i in a :
    if i not in d :
        d[i]=a.count(i)
l=list(d.keys())
l.sort()
new_d={j:d[j] for j in l} # to sort the dictionaary
print("Frequency of each character in string -\n",new_d)

Enter string - Indian cricket team is the best team in the world

Frequency of each character in string -
 {' ': 9, 'a': 3, 'b': 1, 'c': 2, 'd': 2, 'e': 6, 'h': 2, 'i': 5, 'k': 1, 'l': 1, 'm': 2, 'n': 3, 'o': 1, 'r': 2, 's': 2, 't': 6, 'w': 1}

37. Remove all punctuation from a string

In [2]:
a,b = str(input("Enter string -")) , []
for i in a :
    if i == " " or i.isalnum() == True :
        b.append(i)
print("New string -","".join(b))

Enter string - Ind.ian c;ric%ket te[am is. the, bes;t t'ea<m in the wo?rld

New string - Indian cricket team is the best team in the world

38. Check if a string contains only digits

In [9]:
a = str(input("Enter string -"))
if a.isdigit() == True : print("Contains only digits : True")
else : print("Contains only digits : False")

Enter string - 0123456789

Contains only digits : True

39. Check if a string contains only alphabets

In [10]:
a = str(input("Enter string -"))
if a.isalpha() == True : print("Contains only alphabets : True")
else : print("Contains only alphabets : False")

Enter string - pwskills

Contains only alphabets : True

40. Convert a string to a list of characters

In [17]:
print(list(str(input("Enter string -"))))

Enter string - Contains only alphabets

['C', 'o', 'n', 't', 'a', 'i', 'n', 's', ' ', 'o', 'n', 'l', 'y', ' ', 'a', 'l', 'p', 'h', 'a', 'b', 'e', 't', 's']

41. Check if two strings are anagrams

In [7]:
a,b = str(input("Enter string -")).lower() , str(input("Enter string -")).lower()
c,d = a.replace(" ","") , b.replace(" ","")
if sorted(c) == sorted(d) :
    print("Both the strings are anagrams")
else :
    print("Both the strings are not anagrams")

Enter string - a gentleman
Enter string - elegant man

Both the strings are anagrams

42. Encode a string using a Caesar cipher

In [4]:
a,b = str(input("Enter string -")) , ""
shift = 3
for i in a :
    if i.islower():
        ch = chr((ord(i) + shift - ord('a')) % 26 + ord('a'))
    else :
        ch = i
    b = b + ch
print("Encoded string -",b)

Enter string - my name is trishant

Encoded string - pb qdph lv wulvkdqw

43. Decode a Caesar cipher encoded string

In [5]:
a,b = str(input("Enter string -")) , ""
shift = 3
for i in a :
    if i.islower():
        ch = chr((ord(i) - shift - ord('a')) % 26 + ord('a'))
    else :
        ch = i
    b = b + ch
print("Encoded string -",b)

Enter string - pb qdph lv wulvkdqw

Encoded string - my name is trishant

44. Find the most frequent word in a string

In [11]:
a,b = str(input("Enter string -")) , []
for i in a :
    if i == " " or i.isalnum() == True : b.append(i)
c = "".join(b).split()
d = c[0]
for i in c :
    if c.count(i) > c.count(d) : d = i
print("Most frequent word in the string - ",d)

Enter string - hey there! i'm using what'sapp. hey brother

Most frequent word in the string -  hey

45. Find all unique words in a string

In [12]:
a,b = str(input("Enter string - ")).lower().split() , []
for i in a :
    if a.count(i) == 1 :
        b.append(i)
print("Unique words in the string - ",b)

Enter string -  My name is anthony and my sister is in school

Unique words in the string -  ['name', 'anthony', 'and', 'sister', 'in', 'school']

46. Count the number of syllables in a string

In [8]:
a,b,ct = str(input("Enter string - ")).lower() , "aeiouy", 0
for i in a :
    if i in b : ct += 1
print("No. of syllables in the - ",ct)

Enter string -  Alphabet

No. of syllables in the -  3

47. Check if a string contains any special characters

In [18]:
a = str(input("Enter string - "))
for i in a :
    if i.isalnum() == True :
        if a.index(i) == len(a)-1 :
            print(a,"contains special character : False")
    elif i.isalnum() == False :
        print(a,"contains special character : True")
        break

Enter string -  pwskills@gmail.com

pwskills@gmail.com contains special character : True

48. Remove the nth word from a string

In [22]:
a,index = str(input("Enter string - ")).split() , int(input("Enter the nth word position value - "))
r_w = a[index - 1]
a.pop(index-1)
b = " ".join(a)
print("Modified string - ",b)
print("Removed word - ", r_w)

Enter string -  pwskills is a branch of pw and the owner is pandey ji
Enter the nth word position value -  6

Modified string -  pwskills is a branch of and the owner is pandey ji
Removed word -  pw

49. Insert a word at the nth position in a string

In [24]:
a = str(input("Enter string - ")).split()
insert_word = str(input("Enter word to insert - "))
index =  int(input("Enter the nth word position value - "))
a.insert(index-1 , insert_word)
b = " ".join(a)
print("Modified string - ",b)

Enter string -  pwskills is a branch of pw and the owner is pandey ji
Enter word to insert -  Alakh
Enter the nth word position value -  11

Modified string -  pwskills is a branch of pw and the owner is Alakh pandey ji

50. Convert a CSV string to a list of lists

In [47]:
a,l = "Name, class, section\nRahul, 5, A\nAlakh, 3, C\nKenny, 2, B" , []
b = a.split("\n")
for i in b :
    sub_list = i.split(',')
    l.append(sub_list)

for j in l : print(j)

['Name', ' class', ' section']
['Rahul', ' 5', ' A']
['Alakh', ' 3', ' C']
['Kenny', ' 2', ' B']

List Based Practice Problem

1. Create a list with integers from 1 to 10

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]
print("List - ",l)

List -  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function

In [3]:
l,ct = [1,2,3,4,5,6,7,8,9,10] , 0
for i in l: ct=ct+1
print("Length of list - ",ct)

Length of list -  10

3. Append an element to the end of a list

In [8]:
l = [1,2,3,4,5,6,7,8,9,10]
l.append(11)
print("New list - ",l)

New list -  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list

In [9]:
l = [1,2,3,4,5,6,7,8,9,10]
l.insert(int(input("Enter index - ")),int(input("Enter element - ")))
print("New list - ",l)

Enter index -  5
Enter element -  20

New list -  [1, 2, 3, 4, 5, 20, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value

In [10]:
l = [1,2,3,4,5,6,7,8,9,10]
l.remove(int(input("Enter element to remove (1-10) - ")))
print("New list - ",l)

Enter element to remove (1-10) -  7

New list -  [1, 2, 3, 4, 5, 6, 8, 9, 10]

6. Remove an element from a list by its index

In [11]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l)
l.pop(int(input("Enter index - ")))
print("New list - ",l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Enter index -  6

New list -  [1, 2, 3, 4, 5, 6, 8, 9, 10]

7. Check if an element exists in a list

In [12]:
l = [1,2,3,4,5,6,7,8,9,10]
a = int(input("Enter element (1-10) - "))
if a in l :
    print('Yes,',a,'is there in the list')
else :
    print('no,',a,'is not there in the list')

Enter element (1-10) -  4

Yes, 4 is there in the list

8. Find the index of the first occurrence of an element in a list

In [13]:
l = [1,2,3,4,5,6,7,8,9,10]
a = int(input("Enter element (1-10) - "))
print("Index of the element - ",l.index(a))

Enter element (1-10) -  3

Index of the element -  2

9. Count the occurrences of an element in a list

In [14]:
l = [1,2,3,4,5,6,7,8,9,10]
a = int(input("Enter element (1-10) - "))
print("No. of times entered element occured - ",l.count(a))

Enter element (1-10) -  9

No. of times entered element occured -  1

10. Reverse the order of elements in a list

In [15]:
l = [1,2,3,4,5,6,7,8,9,10]
l.reverse()
print("Reverse list - ",l)

Reverse list -  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order

In [17]:
l = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
l.sort()
print("Sorted list - ",l)

Sorted list -  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order

In [3]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.sort(reverse=True)
print("Sorted list in descending order - ",l)

Sorted list in descending order -  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20

In [23]:
l=[]
for i in range(1,21):
    if i%2 == 0 : l.append(i)
print("List with even numbers - ",l)

List with even numbers -  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20

In [24]:
l=[]
for i in range(1,21):
    if i%2 != 0 : l.append(i)
print("List with even numbers - ",l)

List with even numbers -  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list

In [34]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ; print("Sum of all elements from the list - ",sum(l))

Sum of all elements from the list -  55

16. Find the maximum value in a list

In [33]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ; print("Maximum value from list - ",max(l))

Maximum value from list -  10

17. Find the minimum value in a list

In [2]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ; print("Mininum valume from list - ",min(l))

Mininum valume from list -  1

18. Create a list of squares of numbers from 1 to 10

In [32]:
l=[i**2 for i in range(1,11)]
print("List with squares of numbers - ",l)

List with squares of numbers -  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers

In [38]:
import random

l = [random.randint(1, 100) for i in range(10)]
print("List with random numbers - ",l)

List with random numbers -  [66, 50, 91, 85, 15, 51, 24, 18, 48, 30]

20. Remove duplicates from a list

In [51]:
l = [53, 56, 17, 44, 20, 54, 99, 53, 7, 94, 81] ; print("List without duplicates - ",list(set(l)))

List without duplicates -  [99, 7, 44, 17, 81, 20, 53, 54, 56, 94]

21. Find the common elements between two lists

In [56]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [10, 11, 2, 13, 14, 15, 6, 17, 18, 19]
l3 = sorted(list(set(l1).intersection(l2)))
print("Common elements - ",l3)

Common elements -  [2, 6, 10]

22. Find the difference between two lists

In [63]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [10, 11, 2, 13, 14, 15, 6, 17, 18, 19]
l3 = sorted(list(set(l1).difference(l2)))
print("Common elements - ",l3)

Common elements -  [1, 3, 4, 5, 7, 8, 9]

23. Merge two lists

In [68]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print("Modified list - ",l1 + l2)

Modified list -  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

24. Multiply all elements in a list by 2

In [71]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [i*2 for i in l1]
print("New lsit - ",l2)

New lsit -  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list

In [77]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = []
for i in l1:
    if i%2 == 0 : l2.append(i)
print("List with even numbers - ",l2)

List with even numbers -  [2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers

In [78]:
l1 = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
l2 = [int(i) for i in l1]
print("Converted list - ",l2)

Converted list -  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

27. Convert a list of integers to a list of strings

In [79]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [str(i) for i in l1]
print("Converted list - ",l2)

Converted list -  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

28. Flatten a nested list

In [81]:
l = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
l1 = []
for i in l : l1.extend(i)
print("New list - ",l1)

New list -  [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers

In [37]:
l=[]
for i in range(0,10):
    if i == 0 or i==1 :
        l.append(i)
        continue
    add=l[i-1]+l[i-2]
    l.append(add)
print("List with fibonacci numbers - ",l)

List with fibonacci numbers -  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted

In [9]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = sorted(l1)
if l1 == l2 : print("Yes, list is sorted")
else : print("No, list is not sorted")

Yes, list is sorted

31. Rotate a list to the left by `n` positions

In [10]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = int(input("Enter n position - "))
l1 = l[n:] + l[:n]
print("Rotated list to the left - ",l1)

Enter n position -  4

Rotated list -  [5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

32. Rotate a list to the right by `n` positions

In [1]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = int(input("Enter n position - "))
l1 = l[-n:] + l[:-n]
print("Rotated list to the right - ",l1)

Enter n position -  4

Rotated list to the right -  [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]

33. Create a list of prime numbers up to 50

In [12]:
l = [] 
for num in range(2,51):
    ct = 0
    for i in range(1,51):
        if num >= i :
            if num % i == 0 : ct += 1
    
    if ct == 2 : l.append(num)
print("List of prime numbers - ",l)

List of prime numbers -  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`

In [24]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
lst_1 = []
lst_2 = []
n = int(input("Enter the chunk size (n) - "))

for i in range(0,len(l),n) :
    lst_1 = l[i : i+n]
    lst_2.append(lst_1)
print(lst_2)

Enter the chunk size (n) -  4

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11]]

35. Find the second largest number in a list

In [22]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l = sorted(list(set(l)))
print("Second largest number in the list - ",l[len(l)-2])

Second largest number in the list -  9

36. Replace every element in a list with its square

In [27]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst_1 = [i**2 for i in l]
print("New list - ",lst_1)

New list -  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

37. Convert a list to a dictionary where list elements become keys and their
indices become values

In [28]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
d = {i:l.index(i) for i in l}
print(d)

{10: 0, 20: 1, 30: 2, 40: 3, 50: 4, 60: 5, 70: 6, 80: 7, 90: 8, 100: 9}

38. Shuffle the elements of a list randomly

In [31]:
import random
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
random.shuffle(l)
print("Shuffled list - ",l)

Shuffled list -  [100, 40, 70, 80, 10, 30, 50, 90, 60, 20]

39. Create a list of the first 10 factorial numbers

In [38]:
def fact(a) :
    if a == 1 or a == 0 : return 1
    else : return a * fact(a - 1)

l = [fact(i) for i in range(10)]
print("List of factorial numbers - ", l)

List of factorial numbers -  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common

In [39]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = [10, 11, 2, 13, 14, 15, 6, 17, 18, 19]
l3 = sorted(list(set(l1).intersection(l2)))
if l3 != [] : print("Yes, common elements exist - ",l3)
elif l3 == [] : print("No, common elements doesn't exist")

Yes, common elements exist -  [2, 6, 10]

41. Remove all elements from a list

In [40]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.clear()
print(l)

None

42. Replace negative numbers in a list with 0

In [45]:
l = [-1, 11, -2, 13, 14, 15, -6, 17, 18, 19]
for i in range(len(l)) :
    if l[i] < 0 :
        l[i] = 0
print("Modified list - ",l)

Modified list -  [0, 11, 0, 13, 14, 15, 0, 17, 18, 19]

43. Convert a string into a list of words

In [46]:
string = "Indian cricket team is the best team in the world"
l = string.split()
print("String into list of words - ",l)

String into list of words -  ['Indian', 'cricket', 'team', 'is', 'the', 'best', 'team', 'in', 'the', 'world']

44. Convert a list of words into a string

In [47]:
l = ['Indian', 'cricket', 'team', 'is', 'the', 'best', 'team', 'in', 'the', 'world']
print("List of words into a string - "," ".join(l))

List of words into a string -  Indian cricket team is the best team in the world

45. Create a list of the first `n` powers of 2

In [49]:
n = int(input("Enter the value (n) - "))
l = [2**i for i in range(n)]
print("List of first",n,"powers of 2 - ",l)

Enter the value (n) -  10

List of first 10 powers of 2 -  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings

In [52]:
l = ['Indian', 'cricket', 'team', 'is', 'the', 'best', 'team', 'in', 'the', 'world']
a = ""
for i in l :
    if len(i) > len(a) :
        a = i
print("Longest string in a list of strings - ",a)

Longest string in a list of strings -  cricket

47. Find the shortest string in a list of strings

In [56]:
l = ['Indian', 'cricket', 'team', 'is', 'the', 'best', 'team', 'in', 'the', 'world']
a = l[0]
for i in l :
    if len(i) < len(a) :
        a = i
print("Shortest string in a list of strings - ",a)

Shortest string in a list of strings -  is

48. Create a list of the first `n` triangular numbers

In [57]:
a = int(input("Enter the (n) value - "))
l = [i * (i + 1) // 2 for i in range(1, a + 1)]
print("List of first",n,"triangular numbers - ",l)

Enter the (n) value -  10

List of first 10 triangular numbers -  [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence

In [7]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sub_l = [2, 7, 9]
index,ct = 0,0
for i in l :
    if i == sub_l[index] :
        index += 1
        if index == len(sub_l) :
            ct = 1
            break
if ct > 0 :
    print("Yes, list contains another list as a subsequence")
else :
    print("No, list doesn't contains another list as a subsequence")

Yes, list contains another list as a subsequence

50. Swap two elements in a list by their indices

In [66]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [0,11,22,33,44,55,66,77,88,99]
print(l1)
print(l2)
a = int(input("Enter the index value from list 1 to swap - "))
b = int(input("Enter the index value from list 2 to swap - "))
l1[a] , l2[b] = l2[b] , l1[a]
print("List after swapping elements -\n",l1,'\n',l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

Enter the index value from list 1 to swap -  2
Enter the index value from list 2 to swap -  3

List after swapping elements -
 [1, 2, 33, 4, 5, 6, 7, 8, 9, 10]
 [0, 11, 22, 3, 44, 55, 66, 77, 88, 99]

Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5

In [69]:
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple

In [68]:
t = (1,2,3,4,5)
print(t[2])

3

3. Find the length of a tuple without using the `len()` function

In [70]:
t,ct = (1,2,3,4,5) , 0
for i in t : ct += 1
print("Length of tuple - ",ct)

Length of tuple -  5

4. Count the occurrences of an element in a tuple

In [8]:
t = (1,2,3,4,5)
a = int(input("Enter element - "))
print("Number times",a,"occured in the tuple - ",t.count(a))

Enter element -  3

Number times 3 occured in the tuple -  1

5. Find the index of the first occurrence of an element in a tuple

In [10]:
t = (1,2,3,4,5,6,7,8,9,10)
a = int(input("Enter element (1-10) - "))
print("Index of the element - ",t.index(a))

Enter element (1-10) -  5

Index of the element -  4

6. Check if an element exists in a tuple

In [12]:
t = (1,2,3,4,5,6,7,8,9,10)
a = int(input("Enter element - "))
if a in t :
    print("Yes,",a,"exist in tuple")
else :
    print("No,",a,"doesn't exist in tuple")

Enter element -  9

Yes, 9 exist in tuple

7. Convert a tuple to a list

In [14]:
t = (1,2,3,4,5,6,7,8,9,10)
l = sorted(list(t))
print("List - ",l)

List -  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

8. Convert a list to a tuple

In [21]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
t = tuple(l)
print("Tuple - ",t)

Tuple -  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

9. Unpack the elements of a tuple into variables

In [22]:
t = (1,2,3,4,5)
a,b,c,d,e = t
print("a - ",a)
print("b - ",b)
print("c - ",c)
print("d - ",d)
print("e - ",e)

a -  1
b -  2
c -  3
d -  4
e -  5

10. Create a tuple of even numbers from 1 to 10

In [24]:
l = [i for i in range(1,11) if i%2 == 0]
print("Tuple of even numbers - ",tuple(l))

Tuple of even numbers -  (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10

In [25]:
l = [i for i in range(1,11) if i%2 != 0]
print("Tuple of even numbers - ",tuple(l))

Tuple of even numbers -  (1, 3, 5, 7, 9)

12. Concatenate two tuples

In [26]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)
print("Concatenation of two tuples - ",t1 + t2)

Concatenation of two tuples -  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times

In [27]:
t = (1,2,3,4,5)
print("Repeating tuple 3 times - ",t*3)

Repeating tuple 3 times -  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty

In [28]:
t = (1,2,3,4,5)
if t == ():
    print("Yes, tuple is empty")
else :
    print("No, tuple is not empty")

No, tuple is not empty

15. Create a nested tuple

In [30]:
t = ((1,2,3,4,5),(6,7,8,9,10),(11,12,13,14,15))
print(t)

((1, 2, 3, 4, 5), (6, 7, 8, 9, 10), (11, 12, 13, 14, 15))

16. Access the first element of a nested tuple

In [32]:
t = ((1,2,3,4,5),(6,7,8,9,10),(11,12,13,14,15))
print(t[0])

(1, 2, 3, 4, 5)

17. Create a tuple with a single element

In [46]:
t = (1,)
print(t)

(1,)

18. Compare two tuples

In [43]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)

print("t1 = t2 : ",t1==t2)
print("t1 > t2 : ",t1 > t2)
print("t1 < t2 : ",t1 < t2)

t1 = t2 :  False
t1 > t2 :  False
t1 < t2 :  True

19. Delete a tuple

In [53]:
t = (1,2,3,4,5)
del(t)

20. Slice a tuple

In [54]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("Slicing a tuple - ",t[1:6])

Slicing a tuple -  (2, 3, 4, 5, 6)

21. Find the maximum value in a tuple

In [55]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("Maximum value in a tuple - ",max(t))

Maximum value in a tuple -  10

22. Find the minimum value in a tuple

In [56]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("Minimum value in a tuple - ",min(t))

Minimum value in a tuple -  1

23. Convert a string to a tuple of characters

In [59]:
t = tuple("Indian team")
print("String into tuple of characters - ",t)

String into tuple of characters -  ('I', 'n', 'd', 'i', 'a', 'n', ' ', 't', 'e', 'a', 'm')

24. Convert a tuple of characters to a string

In [61]:
t = ('I', 'n', 'd', 'i', 'a', 'n', ' ', 't', 'e', 'a', 'm')
print("Tuple of characters into tuples - ","".join(t))

Tuple of characters into tuples -  Indian team

25. Create a tuple from multiple data types

In [62]:
t = (10,"word",True,0.5)
print(t)

(10, 'word', True, 0.5)

26. Check if two tuples are identical

In [65]:
t1 = (1,2,3,4,5)
t2 = (1,2,3,4,5)
if t1 == t2 :
    print("Yes, the tuples are identical")
else :
    print("No, the tuples are not identical")

Yes, the tuples are identical

27. Sort the elements of a tuple

In [69]:
t = (3,2,4,1,5)
print("Sorted tuple - ",tuple(sorted(list(t))))

Sorted tuple -  (1, 2, 3, 4, 5)

28. Convert a tuple of integers to a tuple of strings

In [73]:
t = (1,2,3,4,5)
t = tuple(str(i) for i in t)
print("Tuple of stings - ",t)

Tuple of stings -  ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers

In [74]:
t = ('1', '2', '3', '4', '5')
t = tuple(int(i) for i in t)
print("Tuple of stings - ",t)

Tuple of stings -  (1, 2, 3, 4, 5)

30. Merge two tuples

In [75]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)
print("Merging two tuples - ",t1 + t2)

Merging two tuples -  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

31. Flatten a nested tuple

In [77]:
t = ((1, 2, 3, 4, 5), (6, 7, 8, 9, 10), (11, 12, 13, 14, 15))
l = []
for i in t :
    for j in i :
        l.append(j)
l.sort()
print("New tuple - ",tuple(l))

New tuple -  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

32. Create a tuple of the first 5 prime numbers

In [85]:
l = [] 
for num in range(2,20):
    ct = 0
    if len(l) <= 4 :
        for i in range(1,20):
            if num >= i :
                if num % i == 0 : ct += 1

        if ct == 2 : l.append(num)
print("List of prime numbers - ",tuple(l))

List of prime numbers -  (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome

In [6]:
t1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
t2 = t1[len(t1)-1 : : -1]
if t1 == t2 :
    print("Tuple is pallindrome")
else :
    print("Tuple is not pallindrome")

Tuple is not pallindrome

34. Create a tuple of squares of numbers from 1 to 5

In [11]:
t = (1, 2, 3, 4, 5)
tup = tuple(i**2 for i in t)
print("Tuple of square of numbers - ",tup)

Tuple of square of numbers -  (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple

In [12]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup = tuple(i for i in t if i%2 != 0)
print("Tuple of square of numbers - ",tup)

Tuple of square of numbers -  (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2

In [14]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup = tuple(i*2 for i in t)
print("Modified tuple - ",tup)

Modified tuple -  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers

In [17]:
import random
t = tuple(random.randint(1,100) for i in range(10))
print("Tuple with random numbers - ",t)

Tuple with random numbers -  (64, 73, 87, 24, 76, 46, 42, 95, 72, 82)

38. Check if a tuple is sorted

In [19]:
t = (64, 73, 87, 24, 76, 46, 42, 95, 72, 82)
tup = tuple(sorted(list(t)))
if t == tup :
    print("Tuple is sorted")
else :
    print("Tuple is not sorted")

Tuple is not sorted

39. Rotate a tuple to the left by `n` positions

In [1]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
n = int(input("Enter n value - "))
tup = tuple(t[n:] + t[:n])
print("Rotated tuple - ",tup)

Enter n value -  4

Rotated tuple -  (5, 6, 7, 8, 9, 10, 1, 2, 3, 4)

40. Rotate a tuple to the right by `n` positions

In [4]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
n = int(input("Enter n value - "))
tup = tuple(t[-n:] + t[:-n])
print("Rotated tuple - ",tup)

Enter n value -  4

Rotated tuple -  (7, 8, 9, 10, 1, 2, 3, 4, 5, 6)

41. Create a tuple of the first 5 Fibonacci numbers

In [8]:
l=[]
for i in range(0,10):
    if len(l) <= 4 :
        if i == 0 or i==1 :
            l.append(i)
            continue
        add=l[i-1]+l[i-2]
        l.append(add)
print("List with fibonacci numbers - ",tuple(l))

List with fibonacci numbers -  (0, 1, 1, 2, 3)

42. Create a tuple from user input

In [18]:
print("Tuple from user input - ",tuple(str(input("User input - ")).split()))

User input -  hey there I'm using whatsapp

Tuple from user input -  ('hey', 'there', "I'm", 'using', 'whatsapp')

43. Swap two elements in a tuple

In [7]:
t = (1, 2, 3, 4, 5)
l = list(t)
l[1],l[2]=l[2],l[1]
print("Tuple with swapped elements - ",tuple(l))

Tuple with swapped elements -  (1, 3, 2, 4, 5)

44. Reverse the elements of a tuple

In [8]:
t = (1, 2, 3, 4, 5)
print("Reverse tuple - ",t[len(t)-1 : : -1])

Reverse tuple -  (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2

In [11]:
n = int(input("Enter n value - "))
t = tuple(2**i for i in range(n))
print("Tuple of the first n powers of 2 - ",t)

Enter n value -  5

Tuple of the first n powers of 2 -  (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings

In [2]:
t = ('New', 'delhi', 'is', 'the', 'capital', 'of', 'India')
a = t[0]
for i in t:
    if len(i) > len(a):
        a = i
print("Longest string in the tuple - ",a)

Longest string in the tuple -  capital

47. Find the shortest string in a tuple of strings

In [4]:
t = ('New', 'delhi', 'is', 'the', 'capital', 'of', 'India')
a = t[0]
for i in t:
    if len(i) < len(a):
        a = i
print("Shortest string in the tuple - ",a)

Shortest string in the tuple -  is

48. Create a tuple of the first `n` triangular numbers

In [1]:
n = int(input("Enter n value - "))
t = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first",n,"triangular numbers - ",t)

Enter n value -  5

Tuple of the first 5 triangular numbers -  (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence

In [9]:
t= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sub_t = (5,6,8)
index,ct = 0,0
for i in t:
    if i == sub_t[index] :
        index += 1
        if index == len(sub_t) :
            ct = 1
            break
if ct > 0 :
    print("Yes, tuple contains another tuple as a subsequence")
else :
    print("No, tuple doesn't contains another tuple as a subsequence")

Yes, list contains another list as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`

In [15]:
n = int(input("Enter n value - "))
t = tuple((i % 2 for i in range(n)))
print("Tuple of alternating 1s and 0s of",n,"length - ",t)

Enter n value -  10

Tuple of alternating 1s and 0s of 10 length -  (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem

1. Create a set with integers from 1 to 5

In [13]:
s = {1,2,3,4,5}
print("Set - ",s)

Set -  {1, 2, 3, 4, 5}

2. Add an element to a set

In [15]:
s = {1,2,3,4,5}
s.add(6)
print("Set - ",s)

Set -  {1, 2, 3, 4, 5, 6}

3. Remove an element from a set

In [17]:
s = {1,2,3,4,5}
s.remove(4)
print("Set - ",s)

Set -  {1, 2, 3, 5}

4. Check if an element exists in a set

In [18]:
s = {1,2,3,4,5}
e = int(input("Enter element to check - "))
if e in s:
    print(e,"exist in set : True")
else :
    print(e,"exist in set : False")

Enter element to check -  1

1 exist in set : True

5. Find the length of a set without using the `len()` function

In [20]:
s,ct = {1,2,3,4,5} , 0
for i in s : ct += 1
print("Lemgth of set is",ct)

Lemgth of set is 5

6. Clear all elements from a set

In [21]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

7. Create a set of even numbers from 1 to 10

In [7]:
s = {i for i in range(1,11) if i%2 == 0}
print("Set of even numbers - ",s)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [8]:
s = {i for i in range(1,11) if i%2 != 0}
print("Set of odd numbers - ",s)

Set of odd numbers -  {1, 3, 5, 7, 9}

9. Find the union of two sets

In [11]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
print("Union of two sets - ",s1.union(s2))

Union of sets -  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets

In [13]:
s1 = {1,2,3,4,5}
s2 = {6,7,4,9,1}
print("Intersection of two sets - ",s1.intersection(s2))

Union of sets -  {1, 4}

11. Find the difference between two sets

In [14]:
s1 = {1,2,3,4,5}
s2 = {6,7,4,9,1}
print("Difference of two sets - ",s1.difference(s2))

Difference of two sets -  {2, 3, 5}

12. Check if a set is a subset of another set

In [7]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {5,6,7}
if s2.issubset(s1) == True:
    print(s2,"is the subset of",s1," - True")
else :
    print(s2,"is the subset of",s1," - False")

{5, 6, 7} is the subset of {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}  - True

13. Check if a set is a superset of another set

In [8]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {5,6,7}
if s1.issuperset(s2) == True:
    print(s1,"is the superset of",s2," - True")
else :
    print(s1,"is the superset of",s2," - False")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} is the superset of {5, 6, 7}  - True

14. Create a set from a list

In [9]:
l = [1,2,3,4,5,6,7,8,9,10]
s = set(l)
print("Set from a list - ",s)

Set from a list -  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

15. Convert a set to a list

In [6]:
s = {1,2,3,4,5,6,7,8,9,10}
l = list(s)
print("Set to a list - ",l)

Set to a list -  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

16. Remove a random element from a set

In [5]:
s = {1,2,3,4,5,6,7,8,9,10}
e = int(input("Enter element between 1-10 to remove - "))
s.remove(e)
print("Set after removing the element - ",s)

Enter element between 1-10 to remove -  3

Set after removing the element -  {1, 2, 4, 5, 6, 7, 8, 9, 10}

17. Pop an element from a set

In [13]:
s = {1,2,3,4,5,6,7,4,9,10}
s.pop()
print("Set after removing the element - ",s)

Set after removing the element -  {2, 3, 4, 5, 6, 7, 9, 10}

18. Check if two sets have no elements in common

In [28]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
s = s1.intersection(s2)
if s == set() :
    print("The two sets have no elements in common : True")
else :
    print("The two sets have no elements in common : False")

The two sets have no elements in common : True

19. Find the symmetric difference between two sets

In [1]:
s1 = {1,2,3,4,5}
s2 = {4,5,8,9,10}
print("Symmetric difference between two sets - ",s1.symmetric_difference(s2)) # or s1^s2

Symmetric difference between two sets -  {1, 2, 3, 8, 9, 10}

20. Update a set with elements from another set

In [2]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
s1.update(s2)
print("Set with elements from another set - ",s1)

Set with elements from another set -  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

21. Create a set of the first 5 prime numbers

In [7]:
s = set()
for num in range(2,15):
    ct = 0
    for i in range(1,15):
        if num >= i :
            if num%i == 0 :
                ct += 1
    if ct == 2 :
        s.add(num)
    if len(s) == 5 :
        break
print("Set of the first 5 prime numbers - ",s)

Set of the first 5 prime numbers -  {2, 3, 5, 7, 11}

22. Check if two sets are identical

In [8]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
if s1 == s2 :
    print("The two sets are identical")
else :
    print("The two sets not identical")

The two set not identical

23. Create a frozen set

In [1]:
s = {1,2,3,4,5}
print("Frozen Set - ",frozenset(s))

Frozen Set -  frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set

In [5]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
if s1.isdisjoint(s2) :
    print(s1,"and",s2,"are disjoint sets - True")
else :
    print(s1,"and",s2,"are disjoint sets - False")

{1, 2, 3, 4, 5} and {6, 7, 8, 9, 10} are disjoint sets - True

25. Create a set of squares of numbers from 1 to 5

In [3]:
s = set(i**2 for i in range(1,6))
print("Set of squares of numbers from 1 to 5 -",s)

Set of squares of numbers from 1 to 5 - {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set

In [19]:
s1 = {1,2,3,4,5}
s2 = set()
for i in s1:
    if i%2 == 0:
        s2.add(i)
print("Filtered out even numbers - ",s2)

Filtered out even numbers -  {2, 4}

27. Multiply all elements in a set by 2

In [2]:
s1 = {1,2,3,4,5}
s2 = set(i*2 for i in s1)
print("Modified set - ",s2)

Modified set -  {2, 4, 6, 8, 10}

28. Create a set of random numbers

In [11]:
import random
n = int(input("Enter length of set - "))
s = set(random.randint(1,100) for i in range(n))
print("Set of random numbers - ",s)

Enter length of set -  5

Set of random numbers -  {33, 99, 78, 16, 63}

29. Check if a set is empty.

In [13]:
s = set()
if s == set():
    print(s,"is an empty set")
else:
    print(s,"is not an empty set")

set() is an empty set

30. Create a nested set (hint: use frozenset)

In [14]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
fs1 = frozenset(s1)
fs2 = frozenset(s2)
s = {fs1,fs2}
print("Nested list - ",s)

Nested list -  {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method

In [15]:
s = {1,2,3,4,5}
n = int(input("Enter element to remove - "))
s.discard(n)
print("Set after removing the element - ",s)

Enter element to remove -  2

Set after removing the element -  {1, 3, 4, 5}

32. Compare two sets

In [16]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
print("s1 > s2 - ",bool(s1 > s2))
print("s1 < s2 - ",bool(s1 < s2))
print("s1 == s2 - ",bool(s1 == s2))

s1 > s2 -  False
s1 < s2 -  False
s1 == s2 -  False

33. Create a set from a string

In [4]:
s = set(str(input("Enter string - ")).split())
print("Set from a string - ",s)

Enter string -  this year is about to end

Set from a string -  {'is', 'to', 'end', 'about', 'year', 'this'}

34. Convert a set of strings to a set of integers

In [2]:
s_str = {"1","2","3","4","5"}
s_int = set(int(i) for i in s_str)
print("Set of strings to a set of integers -",s_int)

Set of strings to a set of integers - {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings

In [3]:
s_int = {1, 2, 3, 4, 5}
s_str = set(str(i) for i in s_str)
print("Set of integers to a set of strings -",s_str)

Set of integers to a set of strings - {'3', '2', '1', '5', '4'}

36. Create a set from a tuple

In [4]:
t = (1, 2, 3, 4, 5)
s = set(t)
print("Set from a tuple -",s)

Set from a tuple - {1, 2, 3, 4, 5}

37. Convert a set to a tuple

In [5]:
s = {1, 2, 3, 4, 5}
t = tuple(s)
print("Tuple from a set -",t)

Tuple from a set - (1, 2, 3, 4, 5)

38. Find the maximum value in a set

In [8]:
s = {1, 2, 3, 4, 5}
print("Maximum value in the set -",max(s))

maximum value in the set - 5

39. Find the minimum value in a set

In [9]:
s = {1, 2, 3, 4, 5}
print("Minimum value in the set -",min(s))

Minimum value in the set - 1

40. Create a set from user input

In [12]:
s = set(input("Enter element") for i in range(int(input("Enter length of set -"))))
print("Set from user input -",s)

Enter length of set - 5
Enter element 1
Enter element two
Enter element 3.3
Enter element @@@@
Enter element $

Set from user input - {'$', 'two', '1', '3.3', '@@@@'}

41. Check if the intersection of two sets is empty

In [16]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
if s1.intersection(s2) == set() :
    print("Intersection of two sets is empty : True")
else :
    print("Intersection of two sets is empty : false")

Intersection of two sets is empty : True

42. Create a set of the first 5 Fibonacci numbers

In [7]:
s = set()
num_1,num_2 = 0,1
for i in range(6):
    s.add(num_1)
    num_1,num_2 = num_2, num_1 + num_2
print("Set of the first 5 Fibonacci numbers -",s)

Set of the first 5 Fibonacci numbers - {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets

In [1]:
l = [0,1,2,3,4,5,6,1,3,5]
l = sorted(list(set(l)))
print("List after removing duplicates -",l)

List after removing duplicates - [0, 1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count

In [6]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
if sorted(list(s1)) == sorted(list(s2)) :
    print("The two sets have the same elements : True")
else :
    print("The two sets have the same elements : False")

The two sets have the same elements : False

45. Create a set of the first `n` powers of 2

In [7]:
print("Set of the first n powers of 2 - ",set(2**i for i in range(int(input("Enter the n value -")))))

Enter the n value - 5

Set of the first n powers of 2 -  {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list

In [8]:
s = {1,2,3,4,5}
l = [1,2,3]
c = s.intersection(set(l))
if c == set() :
    print("There is no common element between a set and a list")
else :
    print("Common elements between a set and a list -",c)

Common elements between a set and a list - {1, 2, 3}

47. Create a set of the first `n` triangular numbers

In [9]:
n = int(input("Enter the n value - "))
s = set(i * (i + 1) // 2 for i in range(1, n + 1))
print("Set of first",n,"triangular numbers - ",s)

Enter the n value -  5

Set of first 5 triangular numbers -  {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset

In [12]:
s = {1,2,3,4,5,6,7,8,9,10}
sub_s = {1,4,10}
if sub_s.issubset(s):
    print(sub_s,"is the subset of",s)
else :
    print(sub_s,"is not a subset of",s)

{1, 10, 4} is the subset of {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

49. Create a set of alternating 1s and 0s of length `n`

In [16]:
n = int(input("Enter n value - "))
s = set((i % 2 for i in range(n)))
print("Tuple of alternating 1s and 0s of",n,"length - ",s)

Enter n value -  10

Tuple of alternating 1s and 0s of 10 length -  {0, 1}

50. Merge multiple sets into one

In [18]:
s1 = {1,2,3}
s2 = {"s","e","t"}
s3 = {1.2,2.3,3.1}
print("Merging multiple sets into one -",s1.union(s2,s3))

Merging multiple sets into one - {1, 2, 3, 1.2, 2.3, 3.1, 't', 's', 'e'}

In [ ]:
s = {}